<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="subjects">
    <h1>ASIGNATURAS</h1>
    {{#subjects}}
    <div class="subject">
    <p><b>Nombre:</b> {{name}} </p>
    <a href="/subject/{{id}}">Ver más</a>
    <a href="/subject/{{id}}/delete">Eliminar</a>
    </div>
    {{/subjects}}
    <br>
    </div>


    {{^subjects}}
    <div class="nosubjects">
    <p>No hay asignaturas aún</p>
    </div>
    {{/subjects}}
    <br>
    
    <div class="newsubject">
    <a href="/new_subject.html">Añadir asignatura</a>
    </div>

    <a href="/users"> Ver usuarios</a>

</body>
</html>