<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{subject.name}}</h1>

    
    <h2>Profesores</h2>
    <ul>
        {{#teachers}}
            <li>{{name}} <a href="/subject/{{subject.id}}/user/{{id}}/delete">Eliminar</a> </li> 
        {{/teachers}}
    </ul>
    
    {{^teachers}}
        <p>Aún no hay profesores.</p>
    {{/teachers}}

    {{#nonTeachers.length}}
        <form action="/subject/{{subject.id}}/linkUser" method="post">
            <fieldset>
                <legend>Añade un Profesor:</legend>
                <select name="user">
                    {{#nonTeachers}}
                        <option value="{{id}}">{{name}}</option>
                    {{/nonTeachers}}
                </select>
                <input type="submit" value="Añadir">
            </fieldset>
        </form>
    {{/nonTeachers.length}}
    
    {{^nonTeachers.length}}
        <fieldset>
            <legend>Profesor</legend>
            <p><i>No hay más profesores disponibles para añadir.</i></p>
        </fieldset>
    {{/nonTeachers.length}}


    <h2>Alumnos</h2>

    <ul>
        {{#students}}
            <li>{{name}} <a href="/subject/{{subject.id}}/user/{{id}}/delete">Eliminar</a> </li>
        {{/students}}
    </ul>
    

    {{^students}}
        <p>Aún no hay alumnos.</p>
    {{/students}}

    {{#nonStudents.length}}
        <form action="/subject/{{subject.id}}/linkUser" method="post">
            <fieldset>
                <legend>Añade un Alumno:</legend>
                <select name="user">
                    {{#nonStudents}}
                        <option value="{{id}}">{{name}}</option>
                    {{/nonStudents}}
                </select>
                <input type="submit" value="Añadir">
            </fieldset>
        </form>
    {{/nonStudents.length}}

    {{^nonStudents.length}}
        <fieldset>
            <legend>Alumno</legend>
            <p><i>No hay más alumnos disponibles para añadir.</i></p>
        </fieldset>
    {{/nonStudents.length}}

    <a href="/">Volver</a>
    
</body>
</html>