<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show_users.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="app-container">

        <aside class="sidebar">
            <div class="sidebar-brand">
                <h2>Aula Virtual</h2>
            </div>
            <nav class="sidebar-menu">
                <a href="/users" class="active">Gestionar usuarios</a>
                <a href="/" class="btn-return-sidebar">Volver</a>
            </nav>
        </aside>

        <main class="main-content">
            <header class="title">
                <h1>Usuarios</h1>
            </header>
            <div class="sections-grid">
            <section class="teachers">
                <h2>Profesores</h2>
                {{#teachers}}
                    <p>
                        <b>Id:</b> {{id}} <br>
                        <b>Nombre:</b> {{name}} <a href="/user/{{id}}/delete">Eliminar</a>
                    </p>
                {{/teachers}}
                {{^teachers}}
                    <p>Aún no hay profes</p>
                {{/teachers}}
            </section>

            <section class="students">
                <h2>Alumnos</h2>
                {{#students}}
                    <p>
                        <b>Id:</b> {{id}} <br>
                        <b>Nombre:</b> {{name}} <a href="/user/{{id}}/delete">Eliminar</a>
                    </p>
                {{/students}}
                {{^students}}
                    <p>Aún no hay alumnos</p>
                {{/students}}
            </section>
            <a href="/new_user.html">Añadir usuarios</a>
            </div>
        </main>

    </div>
    
</body>
</html>