<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{subject.name}}</h1>
    <h2>PROFESORES</h2>
    {{#teachers}}
    <li>{{name}}</li>
    {{/teachers}}
    <!--opcion de añadir teacher con un desplegable de los teachers-->

    <h2>ALUMNOS</h2>
    {{#students}}
    <li>{{name}}</li>
    {{/students}}

    <form action="/subject/{{subject.id}}/linkTeacher" method="post">
        <fieldset>
            <legend>Profesor</legend>
            <label for="teacher">Añade un Profesor:</label>
            <select name="teacher">
                {{#nonTeachers}}
                <option value="{{id}}">{{name}}</option>
                {{/nonTeachers}}
            </select>
            <input type="submit" value="Añadir">
        </fieldset>
    </form>

    <form action="/subject/{{subject.id}}/linkStudent" method="post">
        <fieldset>
            <legend>Alumno</legend>
            <label for="student">Añade un Alumno:</label>
            <select name="student">
                {{#nonStudents}}
                <option value="{{id}}">{{name}}</option>
                {{/nonStudents}}
            </select>
            <input type="submit" value="Añadir">
        </fieldset>
    </form>
    <a href="/">Volver</a>
    
</body>
</html>