
.subjects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Espaciado entre las cajitas */
    gap: 20px; 
    padding: 20px;
}
.subject{
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid #e2e8f0;

    /* Flexbox interno */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

.nameSubject {
  margin: 0 0 15px 0;
  font-size: 1.1rem;
  color: #334155;
}

.nosubjects{

}
.newsubject{

}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}